<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="../node_modules/angular/angular.js"></script>

    <script src="../dist/fabricui-directives.js"></script>
    
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0/fabric.min.css"/>
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0/fabric.components.min.css"/>
    <script src="index.js"></script>
</head>

<body ng-app="testApp" ng-controller="testController">
    <h1 class="ms-font-su">Toggle</h1>
    <uif-toggle labelOff="Off" labelOn="On" toggled="toggled" desc="TEST"></uif-toggle>
    <span>Toggled: {{toggled}}</span>
    
    <h1 class="ms-font-su">Textbox</h1>
    <input type="text" ng-model="testTextBox"/>

    <!--<uif-textbox value="testTextBox"/>-->


    <h1 class="ms-font-su">Datepicker</h1>
<uif-datepicker ng-model="date" months="Jan,Feb,Maa,Apr,Mei,Jun,Jul,Aug,Sep,Okt,Nov,Dec"></uif-datepicker>

    <h1 class="ms-font-su">Dropdown</h1>
    <uif-dropdown options="options" selectedValue="selectedValue"></uif-dropdown>
<p>Selected value: {{selectedValue}}</p>

    <h1 class="ms-font-su">Choicefield</h1>
    <uif-choicefield-group ng-model="choiceValue">
        <uif-choicefield value="Test1"><a href="#">Test 1</a></uif-choicefield>
        <uif-choicefield value="Test2"><a href="#">Test 2</a></uif-choicefield>
        <uif-choicefield value="Test3"><a href="#">Test 3</a></uif-choicefield>
    </uif-choicefield-group>
    <h2>{{choiceValue}}</h2>

</body>
</html>